*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lato',sans-serif;
}

/* VARIABLE */
:root{
  --color01 : #212932;
  --color02 : #19202c;
  --color03 : #FFC700;
  --color04 : #99983D;
  --color05 : #1486CC;
  --color06 : #4084FF;
  --color07 : #FFD84D;
  
}

/* COULEUR */

.fc-wh{
  color:white;
}

.fc-02{
  color: var(--color02);  
}

.fc-03{
  color: var(--color03);
}

.bg-color-01{
  background-color: var(--color01)
}

.bg-color-02{
  background-color: var(--color02);
}

.bg-color-06{
  background-color: var(--color03);
}

/* GENERAL */

.container-fluid{
  height: 100vh;
}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BOUTONS */

.button{
  background-color: transparent;
  border: none; 
  transition: all 50ms;  
}

.button i{
  color:inherit;
}

.button:hover{
  color: var(--color07);
  transform: scale(1.1);
}

.current{
  background-color: var(--color03);
  max-width: 150px;
  max-height: 150px;
}

.noclick{
  pointer-events: none;
  color: var(--color04);
}

/* animation du point actif du player en cours */
.active{
  background-color: var(--color03);
  width: 25px;
  height: 25px;
  animation: scaleChange 300ms;
}

@keyframes scaleChange {
  0%{
    transform: scale(0%);
  }
  100%{
    transform: scale(100%);
  }
}

/* animation du dés */

.dice{
  font-size: 6em;
}



.addNumber{
  color: var(--color06);
  animation: plusPlus 1000ms forwards;
    
}


@keyframes plusPlus {
  0%{
    font-size: 0;
    opacity: 0;
  }
  50%{
    font-size: 40px;
    opacity: 1;
  }
  100%{
    font-size: 0;
    opacity: 0;
    
}
}